<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @socio.name %>
</p>

<p>
  <strong>Sap:</strong>
  <%= @socio.sap %>
</p>

<%= link_to 'Edit', edit_socio_path(@socio) %> |
<%= link_to 'Back', socios_path %>
