<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @list.description %>
</p>
<p>
  <strong>Dirigente:</strong>
  <%= @list.dirigente %>
</p>
<p>
  <strong>Socio:</strong>
  <%= @list.socio.name %>
</p>
<p>
  <strong>Socio:</strong>
  <%= @list.fecha_limite %>
</p>


<p>
  <strong>Completado:</strong>
  <%= @list.completed %>
</p>

<%= link_to 'Editar', edit_list_path(@list) %> |
<%= link_to 'Volver', lists_path %>
