<p id="notice"><%= notice %></p>

<p>
  <strong>Area:</strong>
  <%= @maquina2.area %>
</p>

<p>
  <strong>Socio:</strong>
  <%= @maquina2.socio %>
</p>

<%= link_to 'Edit', edit_maquina2_path(@maquina2) %> |
<%= link_to 'Back', maquina2s_path %>
