<p id="notice"><%= notice %></p>

<h1>Nueva Recepción</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Tema</th>
      <th>Dirigente</th>
      <th>Fecha</th>
      <th>Consulta</th>
      <th>Socio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recepcions.each do |recepcion| %>
      <tr>
        <td><%= recepcion.tema %></td>
        <td><%= recepcion.dirigente %></td>
        <td><%= recepcion.fecha %></td>
        <td><%= recepcion.consulta %></td>
        <td><%= recepcion.socio.name %></td>
        <td><%= link_to 'Ver', recepcion %></td>
        <td><%= link_to 'Editar', edit_recepcion_path(recepcion) %></td>
        <td><%= link_to 'Borrar', recepcion, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recepcion', new_recepcion_path %>
