<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ficha.nombre %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @ficha.fecha_nacimiento %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @ficha.domicilio %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @ficha.comuna %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @ficha.correo %>
</p>

<p>
  <strong>Fono:</strong>
  <%= @ficha.fono %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @ficha.estado_civil %>
</p>

<p>
  <strong>Cargas familiares:</strong>
  <%= @ficha.cargas_familiares %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @ficha.cargo %>
</p>

<p>
  <strong>Escala:</strong>
  <%= @ficha.escala %>
</p>

<p>
  <strong>Grupo trabajo:</strong>
  <%= @ficha.grupo_trabajo %>
</p>

<p>
  <strong>Email corporativo:</strong>
  <%= @ficha.email_corporativo %>
</p>

<p>
  <strong>Fecha ingreso:</strong>
  <%= @ficha.fecha_ingreso %>
</p>

<p>
  <strong>Socio:</strong>
  <%= @ficha.socio %>
</p>

<%= link_to 'Edit', edit_ficha_path(@ficha) %> |
<%= link_to 'Back', fichas_path %>
