<p id="notice"><%= notice %></p>

<p>
  <strong>Tema:</strong>
  <%= @consultum.tema %>
</p>

<p>
  <strong>Diregente:</strong>
  <%= @consultum.diregente %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @consultum.fecha %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @consultum.descripción %>
</p>

<p>
  <strong>Socio:</strong>
  <%= @consultum.socio %>
</p>

<%= link_to 'Editar', edit_consultum_path(@consultum) %> |
<%= link_to 'VOlver', consulta_path %>
